---
import Icon from "~/components/Icon.astro";
import type { CompatibilityItem } from "~/types";

export interface Props {
  items: Array<CompatibilityItem>;
  title: string;
  url: string;
  direction: "row" | "col";
}

const { items, title, url, direction } = Astro.props;
---

<div class="w-full max-w-fit  space-y-2">
  <div class="relative border border-default rounded-lg bg-default px-6 pb-2 pt-4">
    <h3
      class="absolute right-4 top-0 -translate-y-1/2 rounded-full border border-default bg-default px-4 py-1 uppercase tracking-tight text-xs text-primary"
    >
      {title}
    </h3>
    <ul class={`flex ${direction === 'row' ? 'flex-row' : 'flex-col'} justify-center gap-6`}>
      {
        items.map((item) => (
          <li>
            {item.url ? (
              <a class="flex flex-col justify-center items-center text-center text-default hover:text-primary transition-colors" href={item.url}>
                <Icon class="size-8 text-primary" name={item.icon} />
                <span>{item.title}</span>
              </a>
            ) : (
              <div class="flex flex-col items-center gap-2 text-default">
                <Icon class="size-8 text-primary" name={item.icon} />
                <span>{item.title}</span>
              </div>
            )}
          </li>
        ))
      }
    </ul>
  </div>
</div>
