---
import Icon from "~/components/Icon.astro";
import type { NavItem } from "~/types";
import { Image } from "astro:assets";
import ThemeSwitcher from "~/components/theme-switcher.astro";
import cenaculo from "~/../public/cenaculo.png";

const navItems: Array<NavItem> = [
  { title: "Home", url: `${import.meta.env.BASE_URL}` },
  { title: "EP Atual", url: `${import.meta.env.BASE_URL}ep` },
  { title: "Ciclos Passados", url: `${import.meta.env.BASE_URL}ciclos` },
  { title: "Departamentos", url: `${import.meta.env.BASE_URL}departamentos` },
  { title: "Dar", url: `${import.meta.env.BASE_URL}dar` },
  { title: "Clãs", url: `${import.meta.env.BASE_URL}clas` },
];
---
<header
  id="page-header"
  class="fixed top-0 z-20 flex w-full items-center justify-between border-b border-default bg-default px-8 py-4 text-default transition-colors duration-300"
>
  <a class="flex items-center gap-3 hover:!text-primary transition-colors" href={import.meta.env.BASE_URL}>
    <Image src={cenaculo} alt="Cenáculo Logo" width={60} height={60} class="h-auto w-15 object-contain" />
    <span class="font-bold text-lg hidden sm:block">Cenáculo Núcleo Este</span>
  </a>
  <div>
    <div class="flex items-center gap-6">
      <nav class="hidden md:block">
        <ul class="flex items-center gap-6">
          {
            navItems.map(({ title, url }) => (
              <li>
                <a class="text-sm hover:text-primary transition-colors" href={url}>
                  {title}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
      <ThemeSwitcher />
      <button
        id="open-nav-button"
        type="button"
        class="btn md:hidden"
        aria-label="Navigation"
      >
        <Icon name="mdi:menu" class="size-8" />
      </button>
    </div>
    <div id="menu-modal" class="modal hidden" aria-hidden="true">
      <div class="fixed inset-0 bg-default px-8 py-4 text-default">
        <div class="space-y-4" role="dialog" aria-modal="true">
          <header class="text-right">
            <button
              id="close-nav-button"
              type="button"
              class="btn"
              aria-label="Close navigation"
            >
              <Icon name="mdi:close" class="size-8" />
            </button>
          </header>
          <div class="flex justify-center">
            <a href={import.meta.env.BASE_URL}>
              <Image src={cenaculo} alt="Cenáculo Logo" width={64} height={64} class="h-auto w-16 object-contain" />
            </a>
          </div>
          <nav>
            <ul class="flex flex-col">
              {
                navItems.map(({ title, url }) => (
                  <li>
                    <a class="block py-4 text-center text-xl hover:text-primary transition-colors" href={url}>
                      {title}
                    </a>
                  </li>
                ))
              }
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>

<script>
  import MicroModal from "micromodal";
  import invariant from "tiny-invariant";

  const menuModalId = "menu-modal";

  const header = document.querySelector("#page-header") as HTMLElement;
  const page = document.documentElement;
  const menu = document.querySelector(`#${menuModalId} ul`);
  const openNavButton = document.querySelector("#open-nav-button");
  const closeNavButton = document.querySelector("#close-nav-button");

  invariant(header, "header should not be null");
  invariant(menu, "menu should not be null");
  invariant(openNavButton, "openNavButton should not be null");
  invariant(closeNavButton, "closeNavButton should not be null");

  const openMenu = () => {
    MicroModal.show(menuModalId, { disableScroll: true });
  };

  const closeMenu = () => {
    MicroModal.close(menuModalId);
  };

  openNavButton.addEventListener("click", openMenu);
  closeNavButton.addEventListener("click", closeMenu);

  menu.addEventListener("click", (event) => {
    if ((event.target as HTMLElement).tagName === "A") {
      closeMenu();
    }
  });
</script>

<noscript>
  <style>
    #open-nav-button {
      display: none;
    }
  </style>
</noscript>

<style>
  .modal.is-open {
    @apply block;
  }
</style>
